* {
  box-sizing: border-box;
}
html {
  font-family: lato, serif;
  /* line-height: 1.714285; */
}
img {
  width: 100%;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  color: var(--headingColor);
  font-size: 1.75em;
}
p {
  color: var(--paragraphColor);
}
.logo {
  font-family: logoFont;
  font-size: 40px;
}
.logo::after {
  content: ".";
  color: var(--ClickedColor);
}
